{
  "check-coverage": true,
  "lines": 40,
  "statements": 40,
  "functions": 40,
  "branches": 40,
  "reporter": [
    "text",
    "text-summary",
    "html"
  ],
  "all": true,
  "cache": false,
  "reporting": {
    "print": "both"
  },
  "exclude": [
    "test/**/*",
    "coverage/**/*",
    "src/commons/middlewares/request-logger.js",
    "**/index.js"
  ]
}
